@import url(
    'https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    /* --main-light-shades: #b3a38b;
    --main-light-accent: #798168;
    --main-brand-color: #1e2a12;
    --main-dark-accent: #5c624f;
    --main-dark-shades: #121915; */

    --main-light-shades: #f7f5f3;
    --main-light-accent: #92b4a8;
    --main-brand-color: #959f3a;
    --main-dark-accent: #d76524;
    --main-dark-shades: #272c35;

    /* --main-light-shades: #bcb497;
    --main-light-accent: #617e72;
    --main-brand-color: #1e2a12;
    --main-dark-accent: #5d7462;
    --main-dark-shades: #131715; */
}


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--main-dark-shades);
    padding: 40px 20px;
    font-family: Montserrat, sans-serif;
}

.wrapper {
    background-color: var(--main-light-shades);
    color: var(--main-brand-color);
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(20, 20, 20, 0.7);
}

.sidebar {
    background-color: var(--main-light-accent);
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.sidebar img {
    width: 370px;;
}

.about_me_container {
    padding-top: 110px;
    padding-bottom: 110px;
    padding-left: 90px;
    padding-right: 90px;
}


/* SIDEBAR */
.contacts_container {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}

.contacts_title {
    color: var(--main-brand-color);
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}

.contacts_link,
.contacts_link_type {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.contacts_link {
    color: var(--main-dark-shades);
}

.contacts_link_type {
    margin-right: 10px;
    font-weight: 700;
    color: var(--main-dark-shades);
}

.tech_skils_container {
    margin-top: 55px;
    margin-left: 40px;
    margin-right: 40px;
}

.tech_skils_title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: var(--main-brand-color);
    margin-bottom: 20px;
}

.tech_skils_item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--main-brand-color);
    margin-left: 15px;
}

.tech_skils_text {
    color: var(--main-dark-shades);
}

.sidebar_label {
    color: var(--main-dark-shades);
    font-size: 12px;
    padding: 15px;
}



/* ABOUT ME */

.profession {
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 24px;
}

.name {
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
}

.description {
    color: var(--main-dark-shades);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; 
    margin-top: 24px; 
    font-family: 'Raleway', sans-serif; 
    font-style: italic;
}

 .info_container {
    margin-bottom: 65px;
 }

 .about_me_title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
 }

 .projects_link
 ,.github_link
 , .tech_name {
    color: var(--main-dark-shades);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px; 
    text-decoration: none;   
 }
 .tech {
    color: var(--main-dark-shades);
 }

 .github_link {
    font-size: 16px;
    border-bottom: dashed 1px  #595959;
 }

 .projects_list {
     margin-bottom: 15px;
 }

 .projects_link:hover
 ,.github_link:hover {
     color: var(--main-dark-accent);
 }

 .projects_link:active
 ,.github_link:active {
     color: var(--main-brand-color);
 }

 .tooltip {
    position: fixed;
    max-width: 400px;
    padding: 10px 20px;
    border: 1px solid var(--main-dark-shades);
    border-radius: 4px;
    font-size: 14px;
    font-style: italic;
    color: var(--main-dark-shades);
    background-color: var(--main-light-shades);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  }

 .projects_item {
     font-weight: 700;
     margin-left: 21px;
 }

 .project_item_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

 .project_container {
     margin-bottom: 55px;
 }

 .profession_title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;   
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
 }

 .profession_company {
     color: var(--main-dark-shades);
 }
 .profession_name {
     margin-right: 10px;
 }

.time_period {
    color: var(--main-dark-shades);
    font-size: 12px;
    font-weight: 400;
    line-height: 24px; 
}

.profession_devider {
    color: var(--main-dark-shades);
}

.profession_duties {
    margin-top: 14px;
    margin-bottom: 30px;
}

.profession_duties_item {
    color: var(--main-dark-shades);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 17px;
}

.university_name {
    color: var(--main-dark-shades);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;    
    margin-bottom: 10px;
}

.education_name {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;  
    margin-bottom: 10px;  
}






